[Unit]
Description=gunicorn socket for {{ gunicorn_django_project_name }}.{{ gunicorn_django_instance_tag }}

[Socket]
ListenStream=/var/run/gunicorn.{{ gunicorn_django_project_name }}.{{ gunicorn_django_instance_tag }}.sock

[Install]
WantedBy=sockets.target
