[Unit]
Description=gunicorn daemon for {{ gunicorn_django_project_name }}.{{ gunicorn_django_instance_tag }}
Requires=gunicorn.{{ gunicorn_django_project_name }}.{{ gunicorn_django_instance_tag }}.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/{{ gunicorn_django_project_name }}.{{ gunicorn_django_instance_tag }}.pid
User={{ gunicorn_django_project_name }}
Group={{ gunicorn_django_project_name }}
WorkingDirectory={{ gunicorn_django_home_dir }}
ExecStart={{ gunicorn_django_venv_dir }}/bin/python \
          {{ gunicorn_django_venv_dir }}/bin/gunicorn \
          -b unix:/tmp/gunicorn.{{ gunicorn_django_project_name }}.{{ gunicorn_django_instance_tag }}.sock \
          --pythonpath {{ gunicorn_django_project_dir }} \
          {{ gunicorn_django_wsgiscript }}

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Environment=DEBUG={{ gunicorn_django_debug }}
Environment=ALLOWED_HOSTS={% for host in gunicorn_django_allowed_hosts %}{{ host }},{% endfor %}

Environment=MEDIA_ROOT={{ gunicorn_django_media_root }}
Environment=DATABASE_URL={{ gunicorn_django_database_url }}
Environment=SECRET_KEY={{ gunicorn_django_secret_key }}

[Install]
WantedBy=multi-user.target
