[Unit]
Description=gunicorn daemon for {{ gunicorn_django_project_name }}.%I
Requires=gunicorn.{{ gunicorn_django_project_name }}@%i.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/{{ gunicorn_django_project_name }}.%i.pid
User={{ gunicorn_django_project_name }}
Group={{ gunicorn_django_project_name }}
WorkingDirectory={{ gunicorn_django_home_dir }}
ExecStart=/bin/sh -c '{{ gunicorn_django_venv_dir }}/bin/python \
          {{ gunicorn_django_venv_dir }}/bin/gunicorn \
          -b unix:/var/run/gunicorn.{{ gunicorn_django_project_name }}.%i.sock \
          --pythonpath {{ gunicorn_django_home_dir }}/{{ gunicorn_django_project_name }}.%i \
          {{ gunicorn_django_wsgiscript }}'

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
# PrivateTmp=true
Environment=DEBUG={{ gunicorn_django_debug }}
Environment=ALLOWED_HOSTS={% for host in gunicorn_django_allowed_hosts %}{{ host }},{% endfor %}

Environment=MEDIA_ROOT={{ gunicorn_django_media_root }}
Environment=DATABASE_URL={{ gunicorn_django_database_url }}
Environment=SECRET_KEY={{ gunicorn_django_secret_key }}

[Install]
WantedBy=multi-user.target
